.table-wrapper {
  width: 100%;
  overflow-x: auto;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem
}

table {
  white-space: nowrap;
  padding-block: 1rem;
  border-collapse: separate;
  border-spacing: .6rem;
   width: 100%;
}

th {
  padding-bottom: 0.75rem;
  font-size: var(--title-11);
  color: var(--text-color-table-header);
  font-weight: 400;
  position: relative;
  text-align: left;
  padding-right: 1rem;
  cursor: pointer;
}

th:hover {
  background-color: var(--cool-10);
}

tr {
  box-shadow: 0 1px 0 var(--line-break);
}

th::after {
  content: url('/src/assets/icons/sort.svg');
  position: absolute;
}

td {
  font-size: var(--body-11);
  padding-bottom: .5rem;
}

.td-qty,
.td-price,
.td-amount {
  text-align: center;
}

.td-time {
  color: var(--text-color-table-header);
  font-size: var(--body-10);
}

.time-container {
  display: flex;
  flex-direction: column;
}