header {

  @media (width >=768px) {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: var(--bg-header);
    border-radius: 1rem;
    gap: .75rem;
  }
}

header h4 {
  color: var(--text-color-header)
}

.page-title {
  display: grid;
  gap: .3rem;
  margin-right: auto;
}

.user-greating {
  color: var(--text-color-greating);
  font-size: var(--title-12);
}

.notification,
.settings {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-100);
  color: var(--gray-10);
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.search {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-100);
  border-radius: 50%;
  color: var(--gray-10);
  height: 40px;
  width: 40px;
  
  @media (width >=1400px) {
    color: var(--gray-90);
    align-items: unset;
    background-color: unset;
    width: 307px;
  }
}

.search-icon {
  @media (width >=1400px) {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

.search-input {
  display: none;

  @media (width >=1400px) {
    display: flex;
    font-size: var(--body-14);
    width: 100%;
    padding: .75rem 3rem .75rem 1rem;
    border-radius: 30px;
    border: none;
  }
}

.search-input::placeholder {
  color: var(--gray-60);
}