.signup-container {
  display: grid;
  grid-template-areas: "logo" "form" "account";
  gap: 1rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  place-items: center;

  @media (width > 768px) {

    grid-template-areas: "logo form" "logo account";
    grid-template-columns: 1fr auto;
  }
}

.this-form {
  grid-area: form;

  @media (width > 768px) {
    padding: 1rem 1rem 0 0;
  }
}

.signup-header {
  display: grid;
  gap: .5rem;
  grid-area: logo;
  place-self: center;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: var(--bg-header);
  height: 100%;
  padding-inline: 1rem;
  border-radius: .8rem 0 0 .8rem;
}

.signup-header img {
  height: 5rem;
  aspect-ratio: 1;
}

.form-group {
  display: grid;
  gap: 1rem;
}

.have-account {
  grid-area: account;
  color: var(--text-color-no-account);
  font-size: var(--title-12);
  padding-bottom: 1rem;
}

.confirm {
  display: grid;
  gap: 1rem;
  padding: 0 1rem 1rem 0;
}

.have-account span {
  color: var(--primary-100);
}

.email-label::after {
  content: '';
  background-image: url('/src/assets/icons/checkcircle.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.5rem;
  aspect-ratio: 1;
  display: inline-block;
  filter: invert(34%) sepia(86%) saturate(547%) hue-rotate(85deg) brightness(95%) contrast(90%);
  position: absolute;
  right: 0;
  top: 25%;
  transform: translateY(-50%);
  visibility: hidden;
}
.email-label.valid::after{
  visibility: visible;
}


